body {
  background: black;
  font-family: 'Courier New', monospace;
}

#wordal {
  width: 100%;
}

.board {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.board .line {
  display: flex;
  flex-direction: row;
}

.board .line .cell {
  width: 60px;
  height: 60px;
  font-size: 50px;
  background: dimgray;
  color: white;
  text-transform: uppercase;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board .line .cell.present {
  background: goldenrod;
}

.board .line .cell.correct {
  background: limegreen;
}

.board .line .cell.absent {
  background: black;
}

.check-button-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.check-button-container .check-button {}
.check-button-container .share-button {}

.link-generator {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
  font-size: 16px;
}

.link-generator .field {
  background: black;
  color: white;
  border: 1px solid dimgrey;
  border-radius: 4px;
  padding: 16px 10px;
  margin: 3px;
  text-transform: uppercase;
}

.link-generator .button {
  background: dimgrey;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 10px;
  margin: 3px;
  text-transform: uppercase;
}

.link-generator .link {
  color: white;
}

.keyboard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  text-align: center;
}

.keyboard .keyboard-row {}

.keyboard .keyboard-row .keyboard-key {
  background: dimgrey;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 10px;
  margin: 3px;
}
