body {
  background: black;
  font-family: 'Courier New', Courier, monospace;
}

#wordal {
  width: 100%;
}

.board {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.board .line {
  display: flex;
  flex-direction: row;
}

.board .line .cell {
  width: 60px;
  height: 60px;
  font-size: 50px;
  background: dimgray;
  color: white;
  text-transform: uppercase;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.board .line .cell.absent {
  background: black;
}

.board .line .cell.present {
  background: goldenrod;
}

.board .line .cell.correct {
  background: limegreen;
}

.check-button-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.action-panel {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
  font-size: 16px;
}

.action-panel .field {
  background: black;
  color: white;
  border: 1px solid dimgrey;
  border-radius: 4px;
  padding: 16px 10px;
  margin: 3px;
  text-transform: uppercase;
  width: 60px;
}

.action-panel .button {
  background: dimgrey;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 10px;
  margin: 3px;
  text-transform: uppercase;
}

.action-panel .link {
  color: white;
  display: none;
}

.keyboard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
  text-align: center;
}

.keyboard .keyboard-row .keyboard-key {
  background: dimgrey;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 10px;
  margin: 3px;
  text-transform: uppercase;
}
.keyboard .keyboard-row .keyboard-key.letter {
  width: 33px;
}

.keyboard .keyboard-row .keyboard-key.absent {
  background: black;
}

.keyboard .keyboard-row .keyboard-key.present {
  background: goldenrod;
}

.keyboard .keyboard-row .keyboard-key.correct {
  background: limegreen;
}

.hidden {
  visibility: hidden;
}
