body {
  background: black;
}

.board {}

.board .line {
  display: flex;
  flex-direction: row;
}

.board .line .cell {
  border: 1px solid darkgrey;
}

.board .line .cell .field {
  background: black;
  color: white;
  border: none;
}

.board .line .cell .field.present {
  background: goldenrod;
}

.board .line .cell .field.correct {
  background: limegreen;
}

.board .line .cell .field.absent {
  background: dimgrey;
}

.link-generator .field {
  background: black;
  color: white;
  border: 1px solid darkgrey;
}

.link-generator .button {}

.link-generator .link {
  color: white;
}
