body {
  background: black;
}

#wordal {
  width: 100%;
}

.board {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.board .line {
  display: flex;
  flex-direction: row;
}

.board .line .cell {
  width: 50px;
  height: 50px;
  font-size: 50px;
  text-align: center;
  background: dimgray;
  margin: 5px;
}

.board .line .cell .field {
  background: transparent;
  color: white;
  border: none;
  padding: 0;
  text-align: center;
  font-size: 30px;
  width: 100%;
}

.board .line .cell.present {
  background: goldenrod;
}

.board .line .cell.correct {
  background: limegreen;
}

.board .line .cell.absent {
  background: black;
}

.check-button-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.check-button-container .check-button {}
.check-button-container .share-button {}

.link-generator {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
}

.link-generator .field {
  background: black;
  color: white;
  border: 1px solid darkgrey;
}

.link-generator .button {}

.link-generator .link {
  color: white;
}
